body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.btnRed {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btnRed:hover {
  background-color: darkred;
}
